.idea
*.iml
git-credentials.yml
.sass-cache/
target
.gradle
.classpath
.settings
.project
bin/
build/
.DS_Store
classes/
soaprunner/*.log
soaprunner/*.txt
soaprunner/soapuioutput/
artifacts/*
generated-sources/
out
*.rdb*
